body {
    text-align: center;
    vertical-align: middle;
}

#news {
    background-color: aqua;
    border-color: black;
    border-width: 5px;
    font-size: large;
    /*background-color:aquamarine;*/
    /*display: table-cell;*/
    vertical-align: middle;
    position: relative;
    font-style: italic;
    text-align: center;
    /*width: 90%;*/
    /*height: 90%;*/
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}



